.container{
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-areas: 
        "menu header"
        "menu content"
        "menu content";
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header{
    height: 10vh;
    grid-auto-rows: minmax();
    grid-area: header;
    background-color: aqua;
}

.menu{
    grid-area: menu;
}

.content{
    height: 90vh;
    grid-area: content;
    background-color: chocolate;
}

.image{
    width: 100%;
    height: 10vh;
}

.image > img{
    position: absolute;
    top: 20px;
    left: 60px;
    width: 106px;
    height: 36px;
    border-radius: 6px;
}

.menuItems{
    width: 100%;
    height: 40vh;
    text-align: center;
}

.menuItems > button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;
    width: 80%;
    margin: auto;
    padding: 10px 90px 10px 10px;
    border-radius: 10px;
    border: hidden;
    background-color: #f44b87;
    cursor: pointer;
}

.newVer{
    width: 100%;
    height: 50vh;
    display: flex
}




