.ovrView{
    width: 100%;
    height: 30vh;
    background-color: aquamarine;

}

.DReport{
    width: 100%;
    height: 60vh;
    background-color: blueviolet;
}

.ovr_gr > img{
    margin: 10px 10px 10px 30px;

}

.ovr_gr > span{
    position: absolute;
    top: 95px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}